@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
}

section{
    background-color: #222831;
}
.logo h2{
    color:white;
}
.nav-links a{
    color:white;
    text-decoration:none;
    font-size:12px;
    font-weight:150;
    
}
.header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
h2{
    font-family:"Oswald", sans-serif;
}
body{
    font-family:"Poppins", sans-serif;
}
.nav-links{
    display:flex;
    gap:30px;
}
.hero {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
}
.hero .content h1{
    color: white;
    font-size: 55px;
    line-height:60px;
    margin-bottom:40px;
    
}
button{
    color:white;
    background-color:#00ADB5;
    padding:6px 14px 6px 14px;
    border:none;
    cursor: pointer;
    border-radius:4px;
    font-weight:700px;
    
}
button{
    
    gap:15px;
}
.designer{
    color:#00ADB5;
    
}
.hero .image img{
    width:400px;
    height:400px;
    border-radius: 100%;
}